---
layout: default
pagination: 
  enabled: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}     
    </header>
  </div>
</div>

<body>

    <div class="content-container">
        <section class="profile">
            <img src="{{ site.baseurl }}/assets/img/hongli_liu.jpg" alt="Hongli Liu">

            <div class="text-content">
              <h2>{{ site.name }}</h2>
              <p>Assistant Professor</p>
              <p>Civil and Environmental Engineering Dept</p>
              <p>University of Alberta</p>
              <p>Email: <a href="mailto:hongli.liu@ualberta.ca">hongli.liu@ualberta.ca</a></p>
              <p>Office: 7-217 Donadeo Innovation Centre For Engineering</p>
            </div>
        </section>
        
        <section class="research-directions">
            <h3>Our research focuses on enhancing hydrologic modeling to better predict extreme events like floods and droughts and assess the impacts of climate change.</h3>
            <p>As part of our research, we ask the following types of questions:</p>
            <ul>
                <li>What are the underlying causes of extreme hydrologic events?</li>
                <li>How to better represent hydrologic processes in models?</li>
                <li>How to improve parameter estimation efficiency?</li>
                <li>How to quantify and incorporate various uncertainties into modeling?</li>
                <li>How to minimize uncertainty in model outputs?</li>
                <li>How to better predict hydrologic events under climate change?</li>
                <!-- Add other questions -->
            </ul>
            <p>
            Our research uses in situ and remote sensing data, 
            integrates machine learning with process-based hydrologic modeling, 
            and runs large-domain simulations on supercomputers. 
            We are passionate about conducting open, reproducible, and collaborative research. 
            Our research outcomes will help improve the usefulness of hydrologic observations and models in water engineering and interdisciplinary problems.
            </p>
        </section>
    </div>

    <footer>
      <a href="/join/" class="join-our-team-button">JOIN OUR TEAM!</a>
      <h2>Upcoming Events and Positions</h2>
      <p>Stay tuned for upcoming events and positions!</p>
  </footer>
  
</body>

</div>
