// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

/*
*   Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif; /*'Helvetica', Arial, sans-serif; /* Set Arial as the default font */
    font-size: 18px; /* Default font size */
    line-height: 1.5; /* Adds line spacing */
}


ol.default {
  @extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

code {
	background-color: #eee;
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
}

blockquote {
	color: $medium-gray;
	font-style: italic;
	border-left: 2px solid $light-gray;
	margin-left: 0;
	padding-left: 3em;
}

pre code.hljs {
	font-size: modular-scale(-1);
}

.page-divider {
	$divider-color: $light-gray;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: $white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}

.tooltip {
	border-bottom: 1px dotted $medium-gray;
}


.site-header-container, .post-header-container {
	width: 100%;
	text-align: center;
	&.has-cover {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
		background-position: 50% 50%;
		background-size: cover;
		.title {
			font-size: modular-scale(6);
		}
		.subtitle, .info {
			font-size: modular-scale(1);
		}
	}
	.scrim {
		padding: 3em 1em;
		&.has-cover {
			background-color: rgba(0,0,0,0.2);
			padding: 6em 1em !important;
			@include media($tablet) {
				padding: 9em 1em !important;
			}
		}
	}
}

/*
*	Image
*/
img {
    max-width: 200px;
    margin: auto;
    padding-bottom: 0.5em;
}


/*
* Member info (image on left, text on right)
*/
.member-info {
  display: flex;
  align-items: center; /* Align items to the top (left) */
  flex-direction: row;
}

.square-image {
  width: 180px; /* Fixed width for the image container */
  height: 180px; /* Adjust the height as needed */
  margin-right: 15px; /* Adjust the spacing between image and text */
  overflow: hidden;
}

.square-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain image aspect ratio and cover the entire square */
}

.text-container {
  text-align: left;

.text-container p {
  line-height: 0; /* Adjust the line height for paragraphs */
}

.social-links {
  /* Add your social links styling here */
}

.education-background {
  /* Add your education background styling here */
}

.education-background ul {
  list-style: none;
  padding: 0;
}

.education-background li {
  margin-bottom: 5px; /* Adjust the spacing between education background items */
}

}

  
/*
*	Header
*/
.navigation {
	font-size: 1em; /* Some value like 16px, 1em, etc. */
	margin: 0;
	padding: 5;
	width: 100%;
    
	box-shadow: 0 2px $highlight-color; /* $highlight-color #007C41*/
	padding: 0 1em;
	margin: 0;
	// Remove this to make header scrollable again
	// 	position: fixed;
	top: 0;
	left: 20;
	right: 60;
	background: $highlight-color;  /*$white; */
	z-index: 1;
	color: white; // Set the text color to white for all text within .navigation
	/*
	*	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
	*/
  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.0em;
    padding-top: 0.5em;
	color: white;
    @include media ($tablet) {
      display: none;
    }	  
  }  
  
  // Nav menu
  .navigation-wrapper {
  	/* @include outer-container; */
	margin-left: 20px; // Added left margin */
	margin-right: 40px; // Added right margin */
	@include clearfix; 
    position: relative; 
  }
  .logo {
    float: left;
    height: 4em;
    @include media ($tablet) {
    	padding-left: $em-base;
    display: flex; /* Center the content vertically */
    align-items: center; /* Center the content vertically */
    }
    img {
      max-height: 2.5em;
      margin-top: 0.75em;
      padding-right: 1em;
    }
    span {
    	font-family: 'Roboto Bold', sans-serif; /* 'Roboto Slab' 'Helvetica', Arial, sans-serif; */
    	font-size: 1.3em;
    	color: $white; /* #333 Font color */
    	 /* text-transform: uppercase;Optional: Uppercase text */
		font-weight: bold; /* Make text bold */
		&:hover {
            text-decoration: underline;
            text-decoration-color: white; /* Add this line to make underline color white on hover */
        }
    }
  }
  nav {
    float: none;
    padding: 1.25em 0;
    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
    }
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.show {
      display: block;
    }
	// Assuming each menu item is a direct child and either a div, span, or inline element
	> * { // This targets every direct child of the navigation-menu
		display: inline-block; // Makes each item inline but block-like for margins to apply
		margin-right: 10px; // Adjust as needed for spacing
		font-family: 'Roboto Bold', sans-serif; /*'Helvetica', Arial, sans-serif;  */
		font-size: 1.1em;
		color: $white; /* #333 Font color */
		/* text-transform: uppercase; /* Optional: Uppercase text */
		font-weight: bold; /* Make text bold */

		&:last-child {
			margin-right: 0; // Removes margin for the last item
		}
	}
  }
  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }
  li.nav-link {
  	a {
	    display: inline-block;
		font-family: 'Roboto Bold', sans-serif; /*'Helvetica', Arial, sans-serif; /* Font-family */
		font-size: 1em; /* Font-size */
		color: $white; /* #333 Font color */
		font-weight: bold; /* Make text bold */
		@include media ($tablet) {
	      padding-right: 1.5em;
	    }
	  }
	  &:last-child a {
	  	@include media ($tablet) {
    		padding-right: 1em;
    	}
    }
  }
}

/*
*	Body
*/
.page-content {
	// Remove this to make header scrollable again
	margin-top: 30px;
	margin-left: 55px; // Added left margin
    margin-right: 55px; // Added right margin
	/*.wrapper {
	/*	@include outer-container;
	/*	padding: 1em;
	/*}
	
	/*
	*	index.html
	*/
	.post-list {
		padding-top: 1em !important;
		@extend %default-ul;
	}
	.post-meta {
		@include outer-container;
		// padding: 1em 0;
		color: $medium-gray;
		.post-date {
			@include span-columns(6);
			text-align: left;
			font-size: 0.9em;
		}
		.post-categories {
			@include span-columns(6);
			margin-right: 0;
			text-align: right;
			font-size: 0.9em;
		}
	}
	.pagination {
		padding-top: 2em;
		text-align: center;
		color: $medium-gray;
		.page-number {
			padding: 0 1em;
		}
    a.newer-posts {
      text-decoration: none;
    }
	}
	.site-header-container {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.33);
		background-color: $highlight-color; /* $highlight-color  #007C41*/
		.site-header{
			.title {
				font-size: modular-scale(6);
			}
			.subtitle {
				font-style: italic;
				font-size: modular-scale(1);
			}
		}
	}
	img {
		display: block;
		margin: auto;
		width: 90%;
	}

	/*
	*	Posts
	*/
	.post {
		ul {
			margin-bottom: 1em;
		}
		.post-header-container {
			.scrim {
				padding: 2em 1em 1em 1em;
			}
		}
		.post-meta {
			padding-bottom: 1em;
		}
		.post-content {
			padding: 1em 0;
		}
		.tags {
			font-size: 0.9em;
		}
		.rss {
			margin: 1em 0 0 0;
			@include span-columns(12);
			@include media ($tablet) {
				margin: 1em 0;
				@include span-columns(6);
			}
		}
		.share {
			font-weight: bold;
			margin: 0 0 1em 0;
			@include span-columns(12);
			@include media ($tablet) {
				@include span-columns(6);
				margin: 1em 0;
				text-align: right;
			}
			a {
				width: 1em;
				padding: 0 0.25em;
				text-decoration: none;
			}
		}
		.disqus {
			@include span-columns(12);
		}
		.post-navigation {
			font-size: 0.9em;
			display: block;
			width: auto;
			.prev-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
			}
			.next-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
				text-align: right;
			}
		}
	}
	
	/*
	*	Pages
	*/
	.page {
		.post-header {
			padding: 0.5em 1em 1em 1em;
			text-align: center;
		}
		.posts-list {
			@extend %default-ul;
			li {
				padding: modular-scale(-4);
				padding-left: 0;
			}
			.desc {
				font-size: 0.9em;
			}
			.post-date {
				color: $medium-gray;
			}
		}
		.profile {
			max-width: 320px;
			margin: auto;
			padding-bottom: 0.5em;
 		}
	}

}

/*
*	Footer
*/
.site-footer {
	$link-color: $white;
	padding: 1em 1em 2em 1em;
	background-color: $highlight-color; // $highlight-color; #007C41 University of Alberta Green; ;
	color: $white;
	a {
	  color: $link-color;
	  &:active,
	  &:focus,
	  &:hover {
	    color: darken($link-color, 10%);
	  }
	  &:active,
	  &:focus {
	    outline: none;
	  }
	}
	.wrapper {
		/*@include outer-container;*/
		display: flex;
  		justify-content: center;
  		align-items: center;
	} 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 30px; // Added left margin
    margin-right: 30px; // Added right margin

	.footer-heading {

	}

}
 
/*
*   Home Page (cover + profile + research directions)
*/

.content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px; /* Outer padding of the container */
    text-align: left;
}

.profile {
    flex: 1 1 33.333%;  /* 1 share of the space */
    padding: 20px 10px; /* Reduced horizontal padding */
    line-height: 1;
}
.profile p {
    margin: 10px 0; /* Reduces the top and bottom margin of paragraphs to 10px */
    font-size: 95%; /* Default font size */
}

.profile img {
    max-width: 60%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio of the image */
    float: left; /* Aligns the image to the left */
    margin-right: 20px; /* Adds space between the image and the following text */
	margin-bottom: 20px; /* Adds some space below the image */
}

/* Clear float for the first paragraph after the image */
.profile .text-content {
    clear: both;
}

.research-directions {
    flex: 2 1 66.666%;  /* 2 shares of the space */
    padding: 20px 10px; /* Reduced horizontal padding */
}

.research-directions h3 {
    margin: 10px 0; /* Top and bottom margin for headings */
    line-height: 1.3;
    font-size: 150%; /* Default font size */
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .profile, .research-directions {
        flex-basis: 100%;
        padding: 20px; /* Adjusted for consistency on smaller screens */
    }
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}

.join-our-team-button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

  