---
layout: default
---
<style>
  /* Add your custom styles here */
  h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.0; /* Adjust line height for tighter text spacing */
}

</style>

<div class="container custom-container">
  <div class="image-container">
      <img src="{{ site.baseurl }}/assets/img/{{ page.img }}" alt="{{ page.name }}" class="img-fluid center-image">
  </div>
  
  
    <h2 style="display: inline-block; margin-right: 10px;">{{ page.name }}</h2>

    {% if page.linkedin_url %}
      <a href="{{ page.linkedin_url }}" target="_blank" title="LinkedIn" style="display: inline-block;">
        <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn" style="width: 30px; height: auto; vertical-align: bottom; margin-left: 5px;">
      </a>
    {% endif %}

    {% if page.googlescholar_url %}
    <a href="{{ page.googlescholar_url }}" target="_blank" title="Google Scholar" style="display: inline-block;">
      <img src="{{ site.baseurl }}/assets/icons/GoogleScholar.png" alt="GoogleScholar" style="width: 30px; height: auto; vertical-align: bottom; margin-left: 5px;">
    </a>
    {% endif %} 

    {% if page.orcid_url %}
    <a href="{{ page.orcid_url }}" target="_blank" title="ORCID" style="display: inline-block;">
      <img src="{{ site.baseurl }}/assets/icons/ORCID.png" alt="ORCID" style="width: 30px; height: auto; vertical-align: bottom; margin-left: 5px;">
    </a>
    {% endif %}  

    <div class="contact-info">
      <a href="{{ page.email }}">{{ page.social[0].url | replace: "mailto:", "" }}</a></p>
    </div>

    <h3>Education</h3>
    <ul>
      {% for edu in page.education %}
        <li>
          {{ edu.degree }}, {{ edu.program }}, {{ edu.school }}, {{ edu.location }} ({{ edu.year }})
        </li>
      {% endfor %}
    </ul>

    {% if page.positions_held != null and page.positions_held.size > 0 %}
      <h3>Employment</h3>
      <ul>
        {% for position in page.positions_held %}
          <li>
            {{ position.position }}, {{ position.employer }}, {{ position.location }} ({{ position.period }})
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <p>{{ content | markdownify }}</p>

    
</div>
