---
layout: default
---
<style>
  /* Add your custom styles here */
  h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.0; /* Adjust line height for tighter text spacing */
}

  /* Add more styles as needed */
</style>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ site.baseurl }}/assets/img/{{ page.img }}" alt="{{ page.name }}" class="img-fluid">
    </div>
    <div class="col-md-8">
      
      <h2 style="display: inline-block; margin-right: 10px;">{{ page.name }}</h2>
      {% if page.linkedin_url %}
      <a href="{{ page.linkedin_url }}" target="_blank" title="LinkedIn" style="display: inline-block;">
        <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn" style="width: 30px; height: auto; vertical-align: bottom; margin-left: 5px;">
      </a>
      {% endif %}

      <p>{{ content | markdownify }}</p>
    </div>
  </div>
</div>
